@model Book
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Book Info</p>
<div class="text-center">
    <h1 class="display-4"> Book Information: </h1>
    <h1 class="display-4"> Title: @Model.Title, @Model.NumberOfPages p.</h1>
    <h1 class="display-4"> Author: @Model.Author</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
